{% extends 'templates/master.html' %}

{% block foodline_slider %}
	{% if hero == "Default" %}
		<!-- <h1 style="color: red;">hero is based on Default</h1> -->
		<div class="hero-container">
			<div class="hero-img-wrapper">
				{% if hero_img %}
					<img src={{hero_img}} alt="hero_img">
				{% endif %}
			</div>
			<div class="caption-div">
				<p class="title">{{title}}</p>
				<p class="desc">{{description}}</p>
			</div>
		</div>
	{% endif %}
	{% if hero == "Slideshow" %}
		<!-- <h1 style="color: red;">hero is based on Slideshow</h1> -->
		{% include "templates/includes/slider/slider.html" %}
	{% endif %}
{% endblock %}

{% block foodline_content %}
<!-- Start of Image Box Section  -->
<section class="flat-row row-image-box">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="wrap-carousel-box">
					<div class="flat-image-box flat-carousel-box style-1 data-effect div-h22 clearfix" data-auto="true" data-column="4" data-column2="2" data-column3="1" data-gap="20" >
						<div class="owl-carousel owl-theme">
							<div class="item data-effect-item">
								<div class="inner">
									<div class="thumb">
										<img src="assets/linefood/images/image-box/imgbox-1-450x320.jpg" alt="Image">
										<div class="elm-btn">
											<a href="#" class="themesflat-button bg-white width-150">For Men’s</a>
										</div>
										<div class="overlay-effect bg-color-2"></div>
									</div>
								</div>
							</div>
							<div class="item data-effect-item">
								<div class="inner">
									<div class="thumb">
										<img src="assets/linefood/images/image-box/imgbox-2-450x320.jpg" alt="Image">
										<div class="elm-btn">
											<a href="#" class="themesflat-button bg-white width-150">For Kid’s</a>
										</div>
										<div class="overlay-effect bg-color-2"></div>
									</div>
								</div>
							</div>
							<div class="item data-effect-item">
								<div class="inner">
									<div class="thumb">
										<img src="assets/linefood/images/image-box/imgbox-3-450x320.jpg" alt="Image">
										<div class="elm-btn">
											<a href="#" class="themesflat-button bg-white width-150">For woMen’s</a>
										</div>
										<div class="overlay-effect bg-color-2"></div>
									</div>
								</div>
							</div>
							<div class="item data-effect-item">
								<div class="inner">
									<div class="thumb">
										<img src="assets/linefood/images/image-box/imgbox-1-450x320.jpg" alt="Image">
										<div class="elm-btn">
											<a href="#" class="themesflat-button bg-white width-150">For Men’s</a>
										</div>
										<div class="overlay-effect bg-color-2"></div>
									</div>
								</div>
							</div>
							<div class="item data-effect-item">
								<div class="inner">
									<div class="thumb">
										<img src="assets/linefood/images/image-box/imgbox-2-450x320.jpg" alt="Image">
										<div class="elm-btn">
											<a href="#" class="themesflat-button bg-white width-150">For Kid’s</a>
										</div>
										<div class="overlay-effect bg-color-2"></div>
									</div>
								</div>
							</div>
							<div class="item data-effect-item">
								<div class="inner">
									<div class="thumb">
										<img src="assets/linefood/images/image-box/imgbox-3-450x320.jpg" alt="Image">
										<div class="elm-btn">
											<a href="#" class="themesflat-button bg-white width-150">For woMen’s</a>
										</div>
										<div class="overlay-effect bg-color-2"></div>
									</div>
								</div>
							</div>
							<div class="item data-effect-item">
								<div class="inner">
									<div class="thumb">
										<img src="assets/linefood/images/image-box/imgbox-1-450x320.jpg" alt="Image">
										<div class="elm-btn">
											<a href="#" class="themesflat-button bg-white width-150">For Men’s</a>
										</div>
										<div class="overlay-effect bg-color-2"></div>
									</div>
								</div>
							</div>
							<div class="item data-effect-item">
								<div class="inner">
									<div class="thumb">
										<img src="assets/linefood/images/image-box/imgbox-2-450x320.jpg" alt="Image">
										<div class="elm-btn">
											<a href="#" class="themesflat-button bg-white width-150">For Kid’s</a>
										</div>
										<div class="overlay-effect bg-color-2"></div>
									</div>
								</div>
							</div>
						</div> <!-- /.owl-carousel  -->                         
					</div>
				</div>                            
			</div>
		</div>
	</div><!-- /.container -->
</section>
<!-- End of Image Box Section  -->

<!-- Start of Products Section  -->
<section class="flat-row row-product-project shop-collection style1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-section margin-bottom-41">
					<h2 class="title">Product</h2>
				</div>
				<ul class="flat-filter style-1 text-center max-width-682 clearfix">
					<li class="active"><a href="#" data-filter="*">All Product</a></li>
					<li><a href="#" data-filter=".kid">Clothing</a></li>
					<li><a href="#" data-filter=".man">Shoes</a></li>
					<li><a href="#" data-filter=".woman">Bags</a></li>
					<li><a href="#" data-filter=".accessories">Accessories</a></li>
				</ul>
				<div class="divider h40"></div>
				<div class="product-content product-fourcolumn clearfix">
					<ul class="product style2 isotope-product clearfix">
						<li class="product-item kid woman">
							<div class="product-thumb clearfix">
								<a href="#">
									<img src="assets/linefood/images/shop/sh-4/1.jpg" alt="image">
								</a>
							</div>
							<div class="product-info clearfix">
								<span class="product-title">Cotton White Underweaer Block Out Edition</span>
								<div class="price">
									<ins>
										<span class="amount">$19.00</span>
									</ins>
								</div>
								<ul class="flat-color-list width-14">
									<li>
										<a href="#" class="red"></a>
									</li>
									<li>
										<a href="#" class="blue"></a>
									</li>
									<li>
										<a href="#" class="black"></a>
									</li>
								</ul>
							</div>
							<div class="add-to-cart text-center">
								<a href="#">ADD TO CART</a>
							</div>
							<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
						</li>
						<li class="product-item man accessories">
							<div class="product-thumb clearfix">
								<a href="#">
									<img src="assets/linefood/images/shop/sh-4/2.jpg" alt="image">
								</a>
								<span class="new">New</span>
							</div>
							<div class="product-info clearfix">
								<span class="product-title">Cotton White Underweaer Block Out Edition</span>
								<div class="price">
									<ins>
										<span class="amount">$10.00</span>
									</ins>
								</div>
							</div>
							<div class="add-to-cart text-center">
								<a href="#">ADD TO CART</a>
							</div>
							<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
						</li>
						<li class="product-item kid woman">
							<div class="product-thumb clearfix">
								<a href="#" class="product-thumb">
									<img src="assets/linefood/images/shop/sh-4/3.jpg" alt="image">
								</a>
							</div>
							<div class="product-info clearfix">
								<span class="product-title">Cotton White Underweaer Block Out Edition</span>
								<div class="price">
									<ins>
										<span class="amount">$20.00</span>
									</ins>
								</div>
							</div>
							<div class="add-to-cart text-center">
								<a href="#">ADD TO CART</a>
							</div>
							<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
						</li>
						<li class="product-item man accessories">
							<div class="product-thumb clearfix">
								<a href="#" class="product-thumb">
									<img src="assets/linefood/images/shop/sh-4/4.jpg" alt="image">
								</a>
								<span class="new sale">Sale</span>
							</div>
							<div class="product-info clearfix">
								<span class="product-title">Cotton White Underweaer Block Out Edition</span>
								<div class="price">
									<del>
										<span class="regular">$90.00</span>
									</del>
									<ins>
										<span class="amount">$60.00</span>
									</ins>
								</div>
								<ul class="flat-color-list width-14">
									<li>
										<a href="#" class="red"></a>
									</li>
									<li>
										<a href="#" class="blue"></a>
									</li>
									<li>
										<a href="#" class="black"></a>
									</li>
								</ul>
							</div>
							<div class="add-to-cart text-center">
								<a href="#">ADD TO CART</a>
							</div>
							<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
						</li>
						<li class="product-item kid woman">
							<div class="product-thumb clearfix">
								<a href="#" class="product-thumb">
									<img src="assets/linefood/images/shop/sh-4/5.jpg" alt="image">
								</a>
								<span class="new">New</span>
							</div>
							<div class="product-info clearfix">
								<span class="product-title">Cotton White Underweaer Block Out Edition</span>
								<div class="price">
									<ins>
										<span class="amount">$139.00</span>
									</ins>
								</div>
							</div>
							<div class="add-to-cart text-center">
								<a href="#">ADD TO CART</a>
							</div>
							<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
						</li>
						<li class="product-item man accessories">
							<div class="product-thumb clearfix">
								<a href="#" class="product-thumb">
									<img src="assets/linefood/images/shop/sh-4/6.jpg" alt="image">
								</a>
								<span class="new sale">Sale</span>
							</div>
							<div class="product-info clearfix">
								<span class="product-title">Cotton White Underweaer Block Out Edition</span>
								<div class="price">
									<del> 	
										<span class="regular">$150.00</span>
									</del>
									<ins>
										<span class="amount">$120.00</span>
									</ins>
								</div>
								<ul class="flat-color-list width-14">
									<li>
										<a href="#" class="red"></a>
									</li>
									<li>
										<a href="#" class="blue"></a>	
									</li>
									<li>
										<a href="#" class="black"></a>
									</li>
								</ul>
							</div>
							<div class="add-to-cart text-center">
								<a href="#">ADD TO CART</a>
							</div>
							<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
						</li>
						<li class="product-item kid woman">
							<div class="product-thumb clearfix">
								<a href="#" class="product-thumb">
									<img src="assets/linefood/images/shop/sh-4/7.jpg" alt="image">
								</a>
							</div>
							<div class="product-info clearfix">
								<span class="product-title">Cotton White Underweaer Block Out Edition</span>
								<div class="price">
									<ins>
										<span class="amount">$110.00</span>
									</ins>
								</div>
							</div>
							<div class="add-to-cart text-center">
								<a href="#">ADD TO CART</a>
							</div>
							<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
						</li>
						<li class="product-item man accessories">
							<div class="product-thumb clearfix">
								<a href="#" class="product-thumb">
									<img src="assets/linefood/images/shop/sh-4/8.jpg" alt="image">
								</a>
								<span class="new">New</span>
							</div>
							<div class="product-info clearfix">
								<span class="product-title">Cotton White Underweaer Block Out Edition</span>
								<div class="price">
									<ins>
										<span class="amount">$90.00</span>
									</ins>
								</div>
							</div>
							<div class="add-to-cart text-center">
								<a href="#">ADD TO CART</a>
							</div>
							<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
						</li>
						<li class="product-item">
							<div class="product-thumb clearfix">
								<a href="#" class="product-thumb">
									<img src="assets/linefood/images/shop/sh-4/9.jpg" alt="image">
								</a>
								<span class="new">New</span>
							</div>
							<div class="product-info clearfix">
								<span class="product-title">Cotton White Underweaer Block Out Edition</span>
								<div class="price">
									<ins>
										<span class="amount">$79.00</span>
									</ins>
								</div>
							</div>
							<div class="add-to-cart text-center">
								<a href="#">ADD TO CART</a>
							</div>
							<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
						</li>
						<li class="product-item">
							<div class="product-thumb clearfix">
								<a href="#" class="product-thumb">
									<img src="assets/linefood/images/shop/sh-4/10.jpg" alt="image">
								</a>
								<span class="new sale">Sale</span>
							</div>
							<div class="product-info clearfix">
								<span class="product-title">Cotton White Underweaer Block Out Edition</span>
								<div class="price">
									<del>
										<span class="regular">$150.00</span>
									</del>
									<ins>
										<span class="amount">$120.00</span>
									</ins>
								</div>
								<ul class="flat-color-list">
									<li>
										<a href="#" class="red"></a>
									</li>
									<li>
										<a href="#" class="blue"></a>
									</li>
									<li>
										<a href="#" class="black"></a>
									</li>
								</ul>
							</div>
							<div class="add-to-cart text-center">
								<a href="#">ADD TO CART</a>
							</div>
							<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
						</li>
						<li class="product-item">
							<div class="product-thumb clearfix">
								<a href="#" class="product-thumb">
									<img src="assets/linefood/images/shop/sh-4/11.jpg" alt="image">
								</a>
							</div>
							<div class="product-info clearfix">
								<span class="product-title">Cotton White Underweaer Block Out Edition</span>
								<div class="price">
									<ins>
										<span class="amount">$66.00</span>
									</ins>
								</div>
							</div>
							<div class="add-to-cart text-center">
								<a href="#">ADD TO CART</a>
							</div>
							<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
						</li>
						<li class="product-item">
							<div class="product-thumb clearfix">
								<a href="#" class="product-thumb">
									<img src="assets/linefood/images/shop/sh-4/12.jpg" alt="image">
								</a>
								<span class="new">New</span>
							</div>
							<div class="product-info clearfix">
								<span class="product-title">Cotton White Underweaer Block Out Edition</span>
								<div class="price">
									<ins>
										<span class="amount">$20.00</span>
									</ins>
								</div>
							</div>
							<div class="add-to-cart text-center">
								<a href="#">ADD TO CART</a>
							</div>
							<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End of Products Section  -->

<!-- Start of Newsletter Section  -->
<section class="flat-row mail-chimp">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="text">
					<h3>Sign up for Send Newsletter</h3>
				</div>
			</div>
			<div class="col-md-8">
				<div class="subscribe clearfix">
					<form action="#" method="post" accept-charset="utf-8" id="subscribe-form">
						<div class="subscribe-content">
							<div class="input">
								<input type="email" name="subscribe-email" placeholder="Your Email">
							</div>
							<div class="button">
								<button type="button">SUBCRIBE</button>
							</div>
						</div>
					</form>
					<ul class="flat-social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google"></i></a></li>
						<li><a href="#"><i class="fa fa-behance"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul><!-- /.flat-social -->
				</div><!-- /.subscribe -->
			</div>
		</div>
	</div>
</section><!-- /.mail-chimp -->
<!-- End of Newsletter Section  -->
{% endblock %}