include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include linefood *.css
recursive-include linefood *.csv
recursive-include linefood *.html
recursive-include linefood *.ico
recursive-include linefood *.js
recursive-include linefood *.json
recursive-include linefood *.md
recursive-include linefood *.png
recursive-include linefood *.py
recursive-include linefood *.svg
recursive-include linefood *.txt
recursive-exclude linefood *.pyc