<!-- <!DOCTYPE html>
<html>

<head>
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div style="
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);">

        <h1 style="text-align:center;" id="title"></h1>
        <img style=" display: block;margin: auto; width: 40%; " id="image" src="" />
        <h1 style="text-align:center;" id="subject"></h1>
    </div>
    <script type="text/javascript">
    var news_name = location.href.substring(location.href.lastIndexOf('=') + 1);

    window.onload = function() {

        $.ajax({
            url: "http://localhost:8000/api/method/foodline.www.news.news.ping",
            method: 'POST',
            data: {
                name: news_name
            },
            success: function(result) {
                var title = document.getElementById('title');
                var image = document.getElementById('image');
                var subject = document.getElementById('subject');
                title.innerHTML = result.message[0][0];
                image.src = result.message[0][1];
                subject.innerHTML = result.message[0][2];

                console.log(result);
                // alert(result.message);
                // $("#div1").html(result);
            }
        });
    }
    </script>
</body>

</html>
 -->


 {% extends "www/parent.html" %} 
 {%block newsdetails %}
    
    <div style="     margin-top: 6%; 
" class=" bg-grey container-fluid text-center">
        
        <h1 style="text-align:center; color:#D20000; font-family: " id="title"></h1>
        <br>
        <br>
        <img style=" display: block;margin: auto; width: 40%; " id="image" src="" />
        <br>
        <p style="text-align:center;" id="subject"></p>
    </div>

    <script type="text/javascript">
    var news_name = location.href.substring(location.href.lastIndexOf('=') + 1);

    window.onload = function() {

        $.ajax({
            url: "http://localhost:8000/api/method/foodline.www.news.news.ping",
            method: 'POST',
            data: {
                name: news_name
            },
            success: function(result) {
                var title = document.getElementById('title');
                var image = document.getElementById('image');
                var subject = document.getElementById('subject');
                title.innerHTML = result.message[0][0];
                image.src = result.message[0][1];
                subject.innerHTML = result.message[0][2];

                console.log(result);
                // alert(result.message);
                // $("#div1").html(result);
            }
        });
    }
    </script>


 {% endblock %}