{% extends "www/main.html" %}

<!-- Start of Slider Block -->
{% block slider %}
	<div class="custom-main-container">
		<div style="max-width:100%;" id="carousel-example-generic" class="carousel slide " data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
					{% if sliders %}
						{% for slider in sliders %}
							{% for image in slider %}
								<div class="item active">
									<img class="" src="{{ image }}" style="width:100%">
								</div>
							{% endfor %}
						{% endfor %}
					{% else %}
						<div class="item active">
							<img class="" src="images/slider.png" style="width:100%">
						</div>
					{% endif %}
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
{% endblock %}
<!-- End of Slider Block -->

<!-- Start of News Block -->
{% block news %}
	<div id="portfolio" style="padding: 60px 50px;" class="  container-fluid text-center bg-grey">
		<h2>NEWS</h2>
		<h4>Our last news </h4>
		<div class="row text-center">
			{% for new in news %}
				<div class="col-sm-4">
					<div class="thumbnail">
						<a href="news/news?news={{new[3]}}">
							<img class="thumbimg" src={{new[1]}} />
							<p><strong>{{new[0]}}</strong></p>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
<!-- Start of News Block -->

<!-- Start of Brands  Block -->
{% block brands %}
	<div id="services" class=" slideanim container-fluid text-center">
		<h2>Brands</h2>
		<h4>What we offer</h4>
		<div class="row">
			{% for mark in marks %}
				<div class="col-sm-3">
					<a href="marks/marks?marks={{mark[2]}}">
						<img style="height: 120px" src={{mark[1]}}/>
						<h4> {{mark[0]}}</h4>
					</a>
				</div>
			{% endfor %}
		</div>
		<!-- about us  -->
			<div id="about" class=" container-fluid">
				<div class="row">
						<div class="col-sm-8">
								<h2>About Company Page</h2>
								<h4>Lorem ipsum..</h4>
								<p>Lorem ipsum..</p>
								<button class="btn btn-default btn-lg">Get in Touch</button>
						</div>
						<div class="col-sm-4">
								<span class="glyphicon glyphicon-signal logo"></span>
						</div>
				</div>
			</div>
			<div class="slideanim container-fluid bg-grey">
				<div class="row">
						<div class="col-sm-4">
								<span class="glyphicon glyphicon-globe logo"></span>
						</div>
						<div class="col-sm-8">
								<h2>Our Values</h2>
								<h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
								<p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
						</div>
				</div>
			</div>
	</div>
{% endblock %}
<!-- End of Brands Block -->

<!-- Start of Product Block -->
{% block product%}
	<div id="pricing" class="slideanim container-fluid">
		<div class="text-center">
			<h2>Our Products</h2>
			<h4>Choose a product that works for you</h4>
		</div>
		{% if products %}
			<div id="myCarousel" class="carousel slide">
				<div class="carousel-inner">
					<div  class="item itemm active">
						<div class="col-xs-4">
							<div class="panel panel-default text-center">
								<div class="panel-body" style="padding: 0px;">
									<img style="max-width: 100%" src="{{products[0][1]}}" />
								</div>
								<div class="panel-heading" style="border-bottom: 0px solid transparent;padding: 1px 0px;">
									<h1 style="font-size: 30px;">{{products[0][0]}}</h1>
									<h4 style="color: #f5f5f5;margin-bottom: 0px; ">{{products [0][2]}}</h4>
								</div>
							</div>
						</div>
					</div>
					{% for product in products %} {% if loop.index >= 2 %}
					<div class="item itemm">
						<div class="col-xs-4">
							<div class="panel panel-default text-center">
								<div class="panel-body" style="padding: 0px;">
									<img style="max-width: 100%" src="{{product[1]}}" />
								</div>
								<div class="panel-heading" style="border-bottom: 0px solid transparent;padding: 1px 0px;">
									<h1 style="font-size: 30px;">{{product[0]}}</h1>
									<h4 style="color: #f5f5f5;margin-bottom: 0px; ">{{product[2]}}</h4>
								</div>
							</div>
						</div>
					</div>
					{% endif %} {% endfor %}
				</div>
				<!-- Controls -->
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		{% endif %}
	</div>
{% endblock %}
<!-- End of Product Block -->

<!-- Start of Contact Block -->
{% block contact%}
	<div id="contact" class="slideanim container-fluid bg-grey">
	<h2 class="text-center">CONTACT</h2>
	<div class="row">
		<div class="col-sm-5">
			<br/>
			<p style="text-align: left;">Contact us and we'll get back to you within 24 hours.</p>
			<br/>
			<div class="row">
				<div class="col-md-7">
					<p style="text-align: left;"><span class="glyphicon glyphicon-map-marker"></span> Gaza, Palestine</p>
					<p style="text-align: left;"><span class="glyphicon glyphicon-print"></span> +00 972599831411</p>
					<p style="text-align: left;"><span class="glyphicon glyphicon-envelope"></span> info@linefood.com</p>
					<p style="text-align: left;"><span class="fa fa-facebook-square"></span> <a href="https://www.fb.com/linefood" title="Visit us">@linefood</a></p>
				</div>
				<div class="col-md-5">
					<p style="text-align: left;"><span class="glyphicon glyphicon-phone"></span> +00 972599831411</p>
					<p style="text-align: left;"><span class="glyphicon glyphicon-phone-alt"></span> +00 972599831411</p>
					<p style="text-align: left;"><span class="fa fa-twitter-square"></span> <a href="https://www.fb.com/linefood" title="Visit us">@linefood</a></p>
					<p style="text-align: left;"><span class="fa fa-instagram"></span> <a href="https://www.fb.com/linefood" title="Visit us">@linefood</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-7">
			<div class="row">
				<div class="col-sm-6 form-group">
					<input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
				</div>
				<div class="col-sm-6 form-group">
					<input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 form-group">
					<input class="form-control" id="phone" name="phone" placeholder="phone" type="number" required>
				</div>
				<div class="col-sm-6 form-group">
					<input class="form-control" id="city" name="city" placeholder="city" type="text" required>
				</div>
			</div>
			<textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="8"></textarea>
			<br>
			<div class="row">
				<div class="col-sm-12 form-group">
						<button class="btn btn-default pull-right" type="submit">Send</button>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock %}
<!-- End of Contact Block -->

<!-- Start of Map Block -->
{% block map%}
	<div id="googleMap" class="container-fluid" style="height:400px;"></div>
{% endblock %}
<!-- End of Map Block -->