<!DOCTYPE html>
<html lang="en">

<head>
    <title>LineFood</title>
    <meta charset="utf-8">
    <!--  <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--       <a class="navbar-brand" href="#myPage">LINEFOOD</a>
 --><img style="width: 150px" src="/files/logo/linefoodlogo.png" />
            </div>
            <div style="margin-top: 25px" class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#portfolio">NEWS</a></li>
                    <li><a href="#services">Brands</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#pricing">PRICING</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar -->
    <!--     <div class="jumbotron text-center">
 -->
    <div style="    padding: 114px 0px 0px 0px; margin: -2.1%;     background-color: #e7001b;
">
        <!-- <h1>Company</h1>  -->
        <!--   <p>We specialize in blablabla</p> 
 -->
        <div class="w3-content w3-display-container" style="max-width:100%;">
            {% for slider in sliders %} {% for image in slider %}
            <img class="mySlides" src="{{ image }}" style="width:100%"> {% endfor %} {% endfor %}
            <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
            </div>
        </div>
    </div>
    <!-- thumbnail -->
    <!-- news  -->
    <div id="portfolio" class=" slideanim container-fluid text-center bg-grey">
        <h2>NEWS</h2>
        <h4>Our last news </h4>
        <div class="row text-center">
            {% for new in news %}
            <div class="col-sm-4">
                <div class="thumbnail">
                    <a href="news/news?news={{new[3]}}">
                    <img src={{new[1]}} style="height: 233px" alt="Paris">
                    <p><strong>{{new[0]}}</strong></p>
                    </a>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/files/paris.jpg" alt="Paris">
        <p><strong>Paris</strong></p>
        <p>Yes, we built Paris</p>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/files/newyork.jpg" alt="New York">
        <p><strong>New York</strong></p>
        <p>We built New York</p>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/files/sanfran.jpg" alt="San Francisco">
        <p><strong>San Francisco</strong></p>
        <p>Yes, San Fran is ours</p>
      </div>
    </div>

     -->
        </div>
        <!-- Marks -->
        <div id="services" class=" slideanim container-fluid text-center">
            <h2>Brands</h2>
            <h4>What we offer</h4>
            <br>
            <div class="row">
                {% for mark in marks %}
                <div class="col-sm-3">
                    <img style="height: 120px" src={{mark[1]}}/>
                    <h4> {{mark[0]}}</h4>
                </div>
                {% endfor %}
                <br>
                <br>
            </div>
            <!-- about us  -->
            <div id="about" class=" container-fluid">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>About Company Page</h2>
                        <h4>Lorem ipsum..</h4>
                        <p>Lorem ipsum..</p>
                        <button class="btn btn-default btn-lg">Get in Touch</button>
                    </div>
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-signal logo"></span>
                    </div>
                </div>
            </div>
            <div class="slideanim container-fluid bg-grey">
                <div class="row">
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-globe logo"></span>
                    </div>
                    <div class="col-sm-8">
                        <h2>Our Values</h2>
                        <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
                        <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
                    </div>
                </div>
            </div>
            <!-- Pricing  -->
            <div id="pricing" class="slideanim container-fluid">
                <div class="text-center">
                    <h2>Our Products</h2>
                    <h4>Choose a product that works for you</h4>
                </div>
                <div class="row">
                    {% for product in products %}
                    <div class="col-sm-4">
                        <div class="panel panel-default text-center">
                            <div class="panel-body" style="padding: 0px;">
                                <img style="max-width: 100%" src="{{product[1]}}" />
                            </div>
                            <div class="panel-heading" style="border-bottom: 0px solid transparent;padding: 1px 0px;">
                                <h1 style="font-size: 30px;">{{product[0]}}</h1>
                                <h4 style="color: #f5f5f5;margin-bottom: 0px; ">"{{product[2]}}"</h4>
                            </div>
                            <!--    <div class="panel-footer">

          <h4>"{{product[2]}}"</h4>
        </div> -->
                        </div>
                    </div>
                    {% endfor %}
                    <!--   <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Basic</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Lorem</p>
          <p><strong>15</strong> Ipsum</p>
          <p><strong>5</strong> Dolor</p>
          <p><strong>2</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$19</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div> 
    </div> 

    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Pro</h1>
        </div>
        <div class="panel-body">
          <p><strong>50</strong> Lorem</p>
          <p><strong>25</strong> Ipsum</p>
          <p><strong>10</strong> Dolor</p>
          <p><strong>5</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$29</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div> 
    </div> 
   <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Premium</h1>
        </div>
        <div class="panel-body">
          <p><strong>100</strong> Lorem</p>
          <p><strong>50</strong> Ipsum</p>
          <p><strong>25</strong> Dolor</p>
          <p><strong>10</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$49</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div> 
    </div>  -->
                </div>
            </div>
            <!--  Pricing -->
            <!-- Contact us -->
            <div id="contact" class="slideanim container-fluid bg-grey">
                <h2 class="text-center">CONTACT</h2>
                <div class="row">
                    <div class="col-sm-5">
                        <br/>
                        <p style="text-align: left;">Contact us and we'll get back to you within 24 hours.</p>
                        <br/>
                        <div class="row">
                            <div class="col-md-7">
                                <p style="text-align: left;"><span class="glyphicon glyphicon-map-marker"></span> Gaza, Palestine</p>
                                <p style="text-align: left;"><span class="glyphicon glyphicon-print"></span> +00 972599831411</p>
                                <p style="text-align: left;"><span class="glyphicon glyphicon-envelope"></span> info@linefood.com</p>
                                <p style="text-align: left;"><span class="fa fa-facebook-square"></span> <a href="https://www.fb.com/linefood" title="Visit us">@linefood</a></p>
                            </div>
                            <div class="col-md-5">
                                <p style="text-align: left;"><span class="glyphicon glyphicon-phone"></span> +00 972599831411</p>
                                <p style="text-align: left;"><span class="glyphicon glyphicon-phone-alt"></span> +00 972599831411</p>
                                <p style="text-align: left;"><span class="fa fa-twitter-square"></span> <a href="https://www.fb.com/linefood" title="Visit us">@linefood</a></p>
                                <p style="text-align: left;"><span class="fa fa-instagram"></span> <a href="https://www.fb.com/linefood" title="Visit us">@linefood</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <input class="form-control" id="phone" name="phone" placeholder="phone" type="number" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <input class="form-control" id="city" name="city" placeholder="city" type="text" required>
                            </div>
                        </div>
                        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="8"></textarea>
                        <br>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <button class="btn btn-default pull-right" type="submit">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Google Maps -->
            <div id="googleMap" style="height:400px;width:100%;"></div>
            <script>
            function myMap() {

                var myCenter = new google.maps.LatLng(31.511142، 34.469895);
                var mapProp = {
                    center: myCenter,
                    zoom: 12,
                    scrollwheel: false,
                    draggable: false,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                var marker = new google.maps.Marker({
                    position: myCenter
                });
                marker.setMap(map);
            }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3EUjJJNYm78jkFIkvadKwkbeFPpgTjQk&callback=myMap"></script>
            <!-- footer -->
            <footer class="slideanim container-fluid text-center">
                <a href="#myPage" title="To Top">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
                <p> All Copy Right to Linefood</p>
            </footer>
            <!-- footer -->
            <script>
            $(document).ready(function() {
                // Add smooth scrolling to all links in navbar + footer link
                $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {

                        // Prevent default anchor click behavior
                        event.preventDefault();

                        // Store hash
                        var hash = this.hash;

                        // Using jQuery's animate() method to add smooth page scroll
                        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 900, function() {

                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                        });
                    } // End if
                });
            })
            </script>
            <!-- slide elments when scroll -->
            <script type="text/javascript">
            $(window).scroll(function() {
                $(".slideanim").each(function() {
                    var pos = $(this).offset().top;

                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 600) {
                        $(this).addClass("slide");
                    }
                });
            });
            </script>
            <script src="index.js"></script>
</body>

</html>
