.hero-container {
  width: 100%;
  height: auto;
  position: relative;
}
.hero-img-wrapper {
  width: 100%;
  height: 450px;
}
.hero-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-container .caption-div {
  position: absolute;
  margin: auto;
  text-align: left;
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.hero-container .caption-div p.title {
  color: #333333;
  font-size: 72px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 100px;
}
.hero-container .caption-div p.desc {
  color:#6e6e6e !important;
  line-height: 48px;
  font-size: 20px;
  font-weight: 300 !important;
  margin-bottom: 0;
}
